In [3]:
import pandas as pd
from collections import Counter

In [4]:
df = pd.read_csv('processed_rating.csv')

In [5]:
N = df.user_id.max()
M = df.movie_id.max()
print('The number of users is {} and of movies is {}'.format(N, M))

The number of users is 2649429 and of movies is 17769

In [6]:
user_id_count = Counter(df.user_id)
movie_id_count = Counter(df.movie_id)

In [7]:
n = 10000
m = 2000

In [8]:
user_id_shrink = [u for u, c in user_id_count.most_common(n)]
movie_id_shrink = [m for m, c in movie_id_count.most_common(m)]

In [9]:
df_small = df[df.user_id.isin(user_id_shrink) & df.movie_id.isin(movie_id_shrink)].copy()

In [10]:
new_user_id_map = {}
i = 0
for old in user_id_shrink:
    new_user_id_map[old] = i
    i += 1
print("i:", i)

new_movie_id_map = {}
j = 0
for old in movie_id_shrink:
    new_movie_id_map[old] = j
    j += 1
print("j:", j)

i: 10000
j: 2000

In [11]:
df_small.loc[:, 'user_id'] = df_small.apply(lambda row: new_user_id_map[row.user_id], axis=1)
df_small.loc[:, 'movie_id'] = df_small.apply(lambda row: new_movie_id_map[row.movie_id], axis=1)

In [12]:
print('The dataframe has shape: {}'.format(df_small.shape))

The dataframe has shape: (9623987, 4)

In [13]:
df_small.to_csv('shrink_rating.csv', index=False)

In [14]:
df_small.head()

      user_id  rating  movie_id  user_map
5111      363     1.0      1566    352800
5149      799     4.0      1566    239362
5167      688     4.0      1566    166392
5176     9188     4.0      1566    440617
5181     6026     1.0      1566    307852